* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
  font-size: 1.5 rem;
  color: blue;
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  background-color: white;
  color: black;
  padding-top: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

}

nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* column-gap: 100px; */
}

#nav-items {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
}

#nav-items a {
  color: black;
  font-weight: bold;
}

.nav-icons {
  display: flex;
  column-gap: 20px;
  overflow: hidden;
}

#logo-bg {
  background-color: #142336;
  padding: 20px;
  clip-path: polygon(100% 0, 100% 89%, 49% 100%, 0 89%, 0 0);
  /* margin-bottom: -30px; */


}

.phone {
  border: 2px solid yellow;
  padding: 20px;
  color: #6fbaf0;
  font-weight: bold;
  
}

#hero-section {
  background-image: url("./images/hero-1.jpg");
  height: 100vh;
  width: 100vw;
  object-fit: fill;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: start;
  margin-top: 40px;
  /* margin-top: 150px; */
}

#hero-title {
  font-family: "Saira Condensed", sans-serif;
  color: rgb(20, 35, 54);
  font-size: 30px;
  font-weight: 600;
  line-height: 55px;
}

#hero-subtext {
  color: #160e01;
  font-size: 1.5rem;
}

#hero-button {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  background-color: yellow;
  padding: 15px 15px;
  font-weight: small;
}

.hero-overlay {
  height: 60%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  /* position: fixed; */
  padding: 10px 10px;
  margin-left: 60px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

/* #benefit-overlay{
  display: flex;
  flex-direction: row;
} */


.benifit {
  position: relative;
  z-index: 1;
  margin-top: -90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 180px;
}

.benifit__item {
  text-align: center;
  border: 1px solid #e1e1e1;
  padding: 30px 25px 25px;
  background: #ffffff;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* display: block; */
  margin: auto;
  width: 100%
}

.benifit__item h4 {
  color: #142336;
  font-weight: 600;
  margin-top: 26px;
  font-size: 16px;
}

.b-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100%;  */
  margin-left: 20px;
}

.services-home {
  padding-top: 70px;
}

.services-home .section-title {
  margin-bottom: 35px;
}

.border__btn {
  text-align: right;
  margin-bottom: 50px;
}

/* /*---------------------
  Counter
-----------------------*/

.container-s {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 20px;
}


.ncount {
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
}

.counter-item {
  text-align: center;
  margin-bottom: 30px;
}

.counter-item {
  font-size: 20px;
  color: #ffffff;
  display: block;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-item h4 {
  color: #4586D5;
  font-weight: 600;
  font-size: 24px;
}


.container-c {
  background: #142336;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;


}

/* .cim{
  align-items: center;
} */

.services-item {
  text-align: center;
  border: 1px solid #e1e1e1;
  /* padding: 30px 25px 25px; */
  background: #ffffff;
  margin-bottom: 30px;
  /* display: flex;
  flex-direction: column; */
  align-items: center;

}

.services-item h4 {
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px;
  color: rgb(20, 35, 54);
  overflow-y: hidden;
  padding: 20px;
}

.services-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: rgb(119, 119, 119);
  padding: 20px;
}

.sitem-pic{
  position: relative;
}

.stext-icon{
  width: 20%;
  clip-path: polygon(100% 0, 100% 87%, 52% 100%, 0 86%, 0 0);
}

