* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
  font-size: 1.5 rem;
  color: blue;
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  background-color: white;
  color: black;
  padding-top: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

} 

nav .container {
  display: flex;
  flex-direction: row;
  justify-content:space-around ; 
  align-items: center;
  /* column-gap: 100px; */
}

#nav-items {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
}

#nav-items a {
  color: black;
  font-weight: bold;
}

.nav-icons {
  display: flex;
  column-gap: 20px;
}

#logo-bg {
  background-color: #142336;
  padding: 20px;
  clip-path: polygon(100% 0, 100% 89%, 49% 100%, 0 89%, 0 0);
  /* margin-bottom: -30px; */


}

.phone {
  border: 2px solid yellow;
  padding: 20px;
  color: #6fbaf0;
  font-weight: bold;
}

#hero-section {
  background-image: url("./images/hero-1.jpg");
  height: 100vh;
  width: 100vw;
  object-fit: fill;
  background-position: center;
  background-size:cover;
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: start;
  margin-top: 40px;
  /* margin-top: 150px; */
}

#hero-title {
  font-family:"Saira Condensed", sans-serif ;
  color:  rgb(20, 35, 54);
  font-size: 30px;
  font-weight: 600;
  line-height: 55px;
}

#hero-subtext {
  color: #160e01;
  font-size: 1.5rem;
}

#hero-button {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  background-color: yellow;
  padding: 15px 15px;
  font-weight: small;}

.hero-overlay {
  height: 60%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  /* position: fixed; */
  padding: 10px 10px;
  margin-left: 60px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

/* #benefit-overlay{
  display: flex;
  flex-direction: row;
} */


.benifit {
	position: relative;
	z-index: 1;
	margin-top: -90px;
  display: flex;
  flex-direction: row;
}

.benifit__item {
	text-align: center;
	border: 1px solid #e1e1e1;
	padding: 30px 25px 25px;
	background: #ffffff;
	margin-bottom: 30px;
}

.benifit__item h4 {
	color: #142336;
	font-weight: 600;
	margin-top: 26px;
}

.b-items{
  display: flex;
  flex-direction: row;
 align-items: center;
 /* column-gap: 10px; */
 width: 100%; 
 margin-left: 60px;
 
 /* padding-left: 30px;
 padding-right: 30px; */
}

/* .container{
  display: flex;
  flex-direction: row;
} */
